@model ProHeroWeb.Models.User

@{
    ViewData["Title"] = "ViewCart";
}

<head>
    <link rel="stylesheet" href="~/css/cart.css"/>
</head>

<div class="wrapper">
     @*  <div class="border-page"> 
        <h1>Your Cart</h1>*@
        <div class="border p-3 mt-4">
            <div class="row pb-2">
            <h4 class="text-primary text-uppercase">Your Cart</h4>
            <hr />
        </div>
    @if (ViewBag.Cart != null && ViewBag.Cart.Count != 0)
    {
        <div class="cart-page">
        <table>
            <thead>
                <tr>
                    <th>
                        Charity Name
                    </th>
                    <th>
                        Donated to
                    </th>
                    <th>
                        Donated
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in ViewBag.Cart)
                {
                    <tr>
                        <td>
                            <div class="cart-info">
                                <p id="charity-name">@item.Charity.Charity.Name</p>
                                <small class="country-text">Country: </small>@item.Charity.Charity.Country
                                <br />
                                <a class="remove-button" asp-controller="cart" asp-action="Remove" asp-route-charityId="@item.Charity.Charity.CharityId">Remove</a>
                            </div>
                        </td>
                        <td>@item.Charity.Charity.Organizer</td>
                        <td>@string.Format("{0:C}", item.Charity.Donated)</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>

        <br />
        <div class="total-price">
            <table>
                <tr>
                    <td>Total</td>
                    <td><h4>@string.Format("{0:C}", ViewBag.total)</h4></td>
                </tr>
            </table>
        </div>
        </div>
        <hr class="my-5" />
        <h4 id="submitTitle" class="text-primary text-uppercase">Submit Donation</h4>
        <form method="post">
            <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-5">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                </div>
            </div>
        </div>

        <h5>Address</h5>
        <div class="col-md-12">
             <div class="mb-3">
                 <label asp-for="Address.StreetName"></label>
                 <input asp-for="Address.StreetName" class="form-control"/>
             </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Address.City"></label>
                    <input asp-for="Address.City" class="form-control"/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Address.Province"></label>
                    <select asp-for="Address.Province" class="form-select mb-3">
                        <option selected value="1">Ontario</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Address.PostalCode"></label>
                    <input asp-for="Address.PostalCode" class="form-control"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Address.Country"></label>
                    <select asp-for="Address.Country" class="form-select mb-3">
                        <option selected value="1">Canada</option>
                    </select>
                </div>
            </div>
        </div>

        <hr class="my-5" />
        <h4 id="submitTitle" class="text-primary text-uppercase">Payment method</h4>

        <button type="submit" class="btn btn-primary">Complete Donation</button>
        </form>
    }
    else
    {
        <br />
        <h5 class="text-center">Your cart is empty</h5>
    }
    </div>
    @*</div>*@
  </div>