
@{
    ViewData["Title"] = "ViewCart";
}

<head>
    <link rel="stylesheet" href="~/css/cart.css"/>
</head>

<body>
    <div class="cart-page">
        <table>
            <thead>
                <tr>
                    <th>
                        Charity Name
                    </th>
                    <th>
                        Donated to
                    </th>
                    <th>
                        Donated
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in ViewBag.Cart)
                {
                    <tr>
                        <td>
                            <div class="cart-info">
                                <p id="charity-name">@item.Charity.Charity.Name</p>
                                <small class="country-text">Country: </small>@item.Charity.Charity.Country
                                <a class="remove-button" asp-controller="cart" asp-action="Remove" asp-route-charityId="@item.Charity.Charity.CharityId">Remove</a>
                            </div>
                        </td>
                        <td>@item.Charity.Charity.Organizer</td>
                        <td>@string.Format("{0:C}", item.Charity.Donated)</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>

        <br />
        <div class="total-price">
            <table>
                <tr>
                    <td>Total</td>
                    <td>@string.Format("{0:C}", ViewBag.total)</td>
                </tr>
            </table>
        </div>
    </div>
</body>

