@model Charity

@{
    Layout = null;
}

<body>
    <img class="emergency-display" src="~/img/kids.jpg"/>
    <div class="scroll-bg">
        <div class="scroll-div">
            <div class="content-description">
                 <h2>@Model.Name</h2>
                 <h6>Donated: @string.Format("{0:C} to {1:C}", Model.Donated, Model.DonationPlan)</h6>
                 <h6>Orgranizer: @Model.Organizer</h6>
                 <br />
                <p>@Model.LargeDescription</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <form method="post">
            <input icon="mo" name="donated" type="number" step="0.01" min="0"/>
            <button class="donate-button" type="submit" class="btn btn-primary" asp-route-charityId="@Model.CharityId" asp-controller="Cart" asp-action="AddToCart">Donate</button>
        </form>
      </div>
</body>
